<div class="contaier-flex">
    <div class="grid row">
        <div class="cards col-sm-4 p-0">
            <img src="../../assets/about/img1.jpg" alt="" width="350px" height="400px">
        </div>


        <div class="cards  col-sm-4 p-0">
            <img src="../../assets/about/img2.png" alt="" width="350px" height="400px">

        </div>


        <div class="cards  col-sm-4 p-0">
            <img src="../../assets/about/img4.png" alt="" width="350px" height="400px">

        </div>
    </div>
    <h1 class="display-4 ps-sm-4 fw-bolder">About Us?</h1>
    <div class="row justify-content-center ">
        <div class="content-just col-sm-11 fw-semibold text-opacity-50 fs-4 ">
            <p> Gadgeon is an end-to-end IoT Solution development partner in the digital transformation journey of its
                customers. We are an ISO 9001:2015 certified electronic product design and development company.
                Established
                in 2011 with 60 plus satisfied customers across the USA, Europe, Australia, Middle East, and India. We
                are
                proud to have a track record of very low talent attrition over the years. Gadgeon delivers end-to-end
                solutions from product development to deployment including hardware, firmware, and applications.
            </p>
            <p>
                Our extensive experience in end-to-end IoT, IIoT, M2M technologies, network/communication technologies,
                application management, cloud, analytics, and automation frameworks enable our customers in building new
                business models and realizing value from their IoT and digital transformation journey.</p>
            <p>
                We offer system integration services for Home and Building automation in the domestic (Indian) market
                under
                the brand name Gadgeon LifeStyle.</p>
        </div>
    </div>
</div>