<div class="row justify-content-center ">
    <div class="col-md-10 col-lg-8 ">
        <form class="row g-3 mt-5 fs-5 mb-5 p-3 bg-white shadow ">
            <p class="display-4 fw-bolder">Help/Contact Form</p>
            <p class="h4 fw-normal font-monospace">We Would Love To Hear Your THoughts, Suggestions,
                Concerns Or Problems With
                Anything So We Can Improve</p>
            <hr>
            <div class="col-md-6 pb-4">
                <label for="inputFirstName" class="form-label">First Name <span
                        style="color: red;">*</span></label>
                <input type="text" class="form-control shadow-none" required id="inputFirstName">
            </div>
            <div class="col-md-6  pb-4">
                <label for="inputLastName" class="form-label ">Last Name <span
                        style="color: red;">*</span></label>
                <input type="text" class="form-control shadow-none" id="inputLastName" required>
            </div>
            <div class="form-check col-4  pb-4">
                <input class="form-check-input shadow-none " type="radio" name="comments" id="comment1">
                <label class="form-check-label " for="flexRadioDefault1">
                    Comments
                </label>
            </div>
            <div class="form-check col-4  pb-4">
                <input class="form-check-input shadow-none" type="radio" name="comments" id="suggestion1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Suggestions
                </label>
            </div>
            <div class="form-check col-4  pb-4">
                <input class="form-check-input shadow-none" type="radio" name="comments" id="question1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Questions
                </label>
            </div>
            <div class="mb-3  pb-4">
                <label for="feedback" class="form-label">Describe Your Query <span
                        style="color: red;">*</span></label>
                <textarea class="form-control shadow-none" name="feedback" id="feedback" rows="5"
                    required></textarea>
            </div>
            <div class="mb-3  pb-4">
                <label for="" class="form-label">Email <span style="color: red;">*</span></label>
                <input type="email" class="form-control shadow-none" name="" id=""
                    aria-describedby="emailHelpId" placeholder="abc@mail.com" required>
            </div>

            <div class="col-12 text-center pb-4">
                <button type="submit" class="btn btn-primary shadow-none px-5"><span class="px-5">Submit</span></button>
            </div>
        </form>
    </div>
</div>
