<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-md justify-content-evenly mb-5 ms-2 me-2">
        <a class="navbar-brand col-12 text-sm-center text-md-start text-center mt-4 col-md-5" routerLink="">
          <img src="../assets/Logo.png" alt="" width="250px" height="60px"></a>
        <div class=" ms-lg-5 navbar-sm-collapse me-sm-5" >
          <ul class="navbar-nav   me-auto mb-2 mb-lg-0">
            <li class="nav-item ms-md-5">
              <a class="nav-link text-center fw-bolder navLink" aria-current="page" routerLink="">Home</a>
            </li>
            <li class="nav-item ms-md-5">
              <a class="nav-link text-center fw-bolder navLink" aria-current="page" routerLink="services">Services</a>
            </li>
            <li class="nav-item ms-md-5">
              <a class="nav-link text-center fw-bolder navLink" aria-current="page" routerLink="about">About</a>
            </li>
            <li class="nav-item ms-md-5">
              <a class="nav-link text-center fw-bolder navLink" aria-current="page" routerLink="contact">Contact</a>
            </li>
          </ul>
        </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>
