<div class="contaier-flex">
 
    <p class="text-center display-4 fw-bolder">We are a Technology Services Partner</p>
    <div class="row bg-light mb-5 me-1">
        <div class="col-md-3 fs-3 text-center pt-4">
            <p>Frontend</p>
        </div>
        <div class="col-md-9 shadow bg-white">
            <img class="col-md-2 ms-2 me-2" src="../../assets/fe/img1.png" alt="">
            <img class="col-md-2 ms-2 me-2" src="../../assets/fe/angular.png" alt="">
            <img class="col-md-2 ms-2 me-2" src="../../assets/fe/reactjs.png" alt="">
            <img class="col-md-2 ms-2 me-2" src="../../assets/fe/meteor.png" alt="">
        </div>
    </div>
    <div class="row bg-light mb-5 me-1">
        <div class="col-md-3 fs-3 text-center pt-4">
            <p>Backend</p>
        </div>
        <div class="col-md-9 shadow bg-white">
            <img class="col-md-2 ms-2 me-2" src="../../assets/fe/img1.png" alt="">
            <img class="col-md-2 ms-2 me-2" src="../../assets/fe/angular.png" alt="">
            <img class="col-md-2 ms-2 me-2" src="../../assets/fe/reactjs.png" alt="">
            <img class="col-md-2 ms-2 me-2" src="../../assets/fe/meteor.png" alt="">
        </div>
    </div>
    <div class="row bg-light mb-5 me-1">
        <div class="col-md-3 fs-3 text-center pt-4">
            <p>Databases</p>
        </div>
        <div class="col-md-9 shadow bg-white">
            <img class="col-md-2 ms-2 me-2" src="../../assets/fe/img1.png" alt="">
            <img class="col-md-2 ms-2 me-2" src="../../assets/fe/angular.png" alt="">
            <img class="col-md-2 ms-2 me-2" src="../../assets/fe/reactjs.png" alt="">
            <img class="col-md-2 ms-2 me-2" src="../../assets/fe/meteor.png" alt="">
        </div>
    </div>
    <div class="row bg-light mb-5 me-1">
        <div class="col-md-3 fs-3 text-center pt-4">
            <p>Cloud</p>
        </div>
        <div class="col-md-9 shadow bg-white">
            <img class="col-md-2" src="../../assets/fe/img1.png" alt="">
            <img class="col-md-2" src="../../assets/fe/angular.png" alt="">
            <img class="col-md-2" src="../../assets/fe/reactjs.png" alt="">
            <img class="col-md-2" src="../../assets/fe/meteor.png" alt="">
        </div>
    </div>

    <p class="text-center display-4 fw-bolder">Services</p>
    <div class="grid row">
        <div class="cards text-center col-sm-4 p-0 ">
            <img src="../../assets/services/img1.jpg" alt="" width="350px" height="250px">
            <p class="p-2 content-just">Our Product engineering services use hardware, embedded, software, and IT solutions for faster design, development, and launching of products.</p>
            <button type="button" class="btn btn-primary ">Product Engineering</button>
        </div>
        <div class="cards text-center col-sm-4 p-0 ">
            <img src="../../assets/services/img2.jpg" alt="" width="350px" height="250px">
            <p class="p-2 content-just">Our IoT consulting service facilitates analysis on the transformation potential of the proposed use case along with requirement specification and solution architecture.</p>
            <button type="button" class="btn btn-primary ">IoT Engineering</button>
        </div>
        <div class="cards text-center col-sm-4 p-0 ">
            <img src="../../assets/services/img3.jpg" alt="" width="350px" height="250px">
            <p class="p-2 content-just">Our Product engineering services use hardware, embedded, software, and IT solutions for faster design, development, and launching of products.</p>
            <button type="button" class="btn btn-primary ">Digitalization Services</button>
        </div>
        <div class="cards text-center col-sm-4 p-0 ">
            <img src="../../assets/services/img4.jpg" alt="" width="350px" height="250px">
            <p class="p-2 content-just">Our Product engineering services use hardware, embedded, software, and IT solutions for faster design, development, and launching of products.</p>
            <button type="button" class="btn btn-primary ">Embedded Systems</button>
        </div>
        <div class="cards text-center col-sm-4 p-0 ">
            <img src="../../assets/services/img5.jpg" alt="" width="350px" height="250px">
            <p class="p-2 content-just">Our Product engineering services use hardware, embedded, software, and IT solutions for faster design, development, and launching of products.</p>
            <button type="button" class="btn btn-primary ">Product Sustenance</button>
        </div>
        <div class="cards text-center col-sm-4 p-0 ">
            <img src="../../assets/services/img6.jpg" alt="" width="350px" height="250px">
            <p class="p-2 content-just">Our Product engineering services use hardware, embedded, software, and IT solutions for faster design, development, and launching of products.</p>
            <button type="button" class="btn btn-primary ">Maintenance</button>
        </div>
       
    </div>

</div>