<div class="contaier-flex">
    <div class="grid row">
        <div class="cards col-sm-4 p-0">
            <img src="../../assets/img1.jpg" alt="" width="400px" height="400px">
        </div>


        <div class="cards  col-sm-4 p-0">
            <img src="../../assets/img2.jpg" alt="" width="350px" height="400px">

        </div>


        <div class="cards  col-sm-4 p-0">
            <img src="../../assets/img3.webp" alt="" width="350px" height="400px">

        </div>
    </div>
</div>
<h1 class="display-4 ps-sm-4 fw-bolder">Why Gadgeon?</h1>
<div class="row justify-content-center ">
    <div class="content-just col-sm-11 fw-light fs-4">
        Gadgeon is a digital technology service provider enabling customer’s digital journey with solutions using new-gen technologies. Our customers are able to focus on high impact business scale up initiatives while the team from Gadgeon taking care of all engineering and operational activities.
    </div>
</div>